# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
env/
.venv/

# VS Code
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Large data (do not push raw dataset)
data/
